<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realdoctor.back.outpatientDrug.dao.OutpatientDrugDao">
	<resultMap type="com.realdoctor.back.outpatientDrug.pojo.OutpatientDrug" id="BaseResultMap">
		<result property="id" column="id" jdbcType="BIGINT"/>
		<result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
		<result property="outpatFormNo" column="outpat_form_no" jdbcType="VARCHAR"/>
		<result property="cnMedicineTypeCode" column="cn_medicine_type_code" jdbcType="VARCHAR"/>
		<result property="drugName" column="drug_name" jdbcType="VARCHAR"/>
		<result property="drugFormCode" column="drug_form_code" jdbcType="VARCHAR"/>
		<result property="drugUsingDays" column="drug_using_days" jdbcType="INTEGER"/>
		<result property="drugUsingFreq" column="drug_using_freq" jdbcType="VARCHAR"/>
		<result property="drugDoseUnit" column="drug_dose_unit" jdbcType="VARCHAR"/>
		<result property="drugPerDose" column="drug_per_dose" jdbcType="DECIMAL"/>
		<result property="drugTotalDose" column="drug_total_dose" jdbcType="DECIMAL"/>
		<result property="drugRouteCode" column="drug_route_code" jdbcType="VARCHAR"/>
		<result property="drugStopDtime" column="drug_stop_dtime" jdbcType="TIMESTAMP"/>
		<result property="drugLocalCode" column="drug_local_code" jdbcType="VARCHAR"/>
		<result property="drugStdName" column="drug_std_name" jdbcType="VARCHAR"/>
		<result property="drugStdCode" column="drug_std_code" jdbcType="VARCHAR"/>
		<result property="drugTotalUnit" column="drug_total_unit" jdbcType="VARCHAR"/>
		<result property="spec" column="spec" jdbcType="VARCHAR"/>
		<result property="groupNo" column="group_no" jdbcType="VARCHAR"/>
		<result property="drugStartDtime" column="drug_start_dtime" jdbcType="TIMESTAMP"/>
		<result property="dispensingDtime" column="dispensing_dtime" jdbcType="TIMESTAMP"/>
		<result property="drugTypeCode" column="drug_type_code" jdbcType="VARCHAR"/>
		<result property="dddValue" column="ddd_value" jdbcType="DECIMAL"/>
		<result property="antibacterialFlag" column="antibacterial_flag" jdbcType="VARCHAR"/>
		<result property="notes" column="notes" jdbcType="VARCHAR"/>
		<result property="lastUpdateDtime" column="last_update_dtime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="columns"> 
		t.id,
		t.org_code,
		t.outpat_form_no,
		t.cn_medicine_type_code,
		t.drug_name,
		t.drug_form_code,
		t.drug_using_days,
		t.drug_using_freq,
		t.drug_dose_unit,
		t.drug_per_dose,
		t.drug_total_dose,
		t.drug_route_code,
		t.drug_stop_dtime,
		t.drug_local_code,
		t.drug_std_name,
		t.drug_std_code,
		t.drug_total_unit,
		t.spec,
		t.group_no,
		t.drug_start_dtime,
		t.dispensing_dtime,
		t.drug_type_code,
		t.ddd_value,
		t.antibacterial_flag,
		t.notes,
		t.last_update_dtime
	</sql>

	<select id="query" resultMap="BaseResultMap" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery">
		select
		t.id,
		t.org_code,
		t.outpat_form_no,
		t.cn_medicine_type_code,
		t.drug_name,
		t.drug_form_code,
		t.drug_using_days,
		t.drug_using_freq,
		t.drug_dose_unit,
		t.drug_per_dose,
		t.drug_total_dose,
		t.drug_route_code,
		t.drug_stop_dtime,
		t.drug_local_code,
		t.drug_std_name,
		t.drug_std_code,
		t.drug_total_unit,
		t.spec,
		t.group_no,
		t.drug_start_dtime,
		t.dispensing_dtime,
		t.drug_type_code,
		t.ddd_value,
		t.antibacterial_flag,
		t.notes,
		t.last_update_dtime
		from outpatient_drug t 
		<include refid="conditionQuery.core" />
		order by
		<choose>
		<when test="paramMap.orderCol!=null">
		${paramMap.orderCol}
		</when>
		<otherwise>
		id desc
		</otherwise>
		</choose>
		<if test="paramMap.pageSize > 0">
		  limit #{paramMap.pageOffset},#{paramMap.pageSize}
		</if>
	</select>

	<select id="queryCnt" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery" resultType="java.lang.Integer">
		select count(*) from outpatient_drug t
		<include refid="conditionQuery.core" />
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.math.BigInteger">
		select
		<include refid="columns"/>
		from outpatient_drug t 
		where t.id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="delete" parameterType="com.realdoctor.back.outpatientDrug.pojo.OutpatientDrug">
		delete from outpatient_drug where 1=1 
		and id=#{id,jdbcType=BIGINT}
	</delete>

	<insert id="save" parameterType="com.realdoctor.back.outpatientDrug.pojo.OutpatientDrug" useGeneratedKeys="true" keyProperty="id">
		insert into outpatient_drug (
		org_code,
		outpat_form_no,
		cn_medicine_type_code,
		drug_name,
		drug_form_code,
		drug_using_days,
		drug_using_freq,
		drug_dose_unit,
		drug_per_dose,
		drug_total_dose,
		drug_route_code,
		drug_stop_dtime,
		drug_local_code,
		drug_std_name,
		drug_std_code,
		drug_total_unit,
		spec,
		group_no,
		drug_start_dtime,
		dispensing_dtime,
		drug_type_code,
		ddd_value,
		antibacterial_flag,
		notes,
		last_update_dtime
		)
		values(
		#{orgCode,jdbcType=VARCHAR},
		#{outpatFormNo,jdbcType=VARCHAR},
		#{cnMedicineTypeCode,jdbcType=VARCHAR},
		#{drugName,jdbcType=VARCHAR},
		#{drugFormCode,jdbcType=VARCHAR},
		#{drugUsingDays,jdbcType=INTEGER},
		#{drugUsingFreq,jdbcType=VARCHAR},
		#{drugDoseUnit,jdbcType=VARCHAR},
		#{drugPerDose,jdbcType=DECIMAL},
		#{drugTotalDose,jdbcType=DECIMAL},
		#{drugRouteCode,jdbcType=VARCHAR},
		#{drugStopDtime,jdbcType=TIMESTAMP},
		#{drugLocalCode,jdbcType=VARCHAR},
		#{drugStdName,jdbcType=VARCHAR},
		#{drugStdCode,jdbcType=VARCHAR},
		#{drugTotalUnit,jdbcType=VARCHAR},
		#{spec,jdbcType=VARCHAR},
		#{groupNo,jdbcType=VARCHAR},
		#{drugStartDtime,jdbcType=TIMESTAMP},
		#{dispensingDtime,jdbcType=TIMESTAMP},
		#{drugTypeCode,jdbcType=VARCHAR},
		#{dddValue,jdbcType=DECIMAL},
		#{antibacterialFlag,jdbcType=VARCHAR},
		#{notes,jdbcType=VARCHAR},
		#{lastUpdateDtime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.realdoctor.back.outpatientDrug.pojo.OutpatientDrug">
		update outpatient_drug set
		org_code = #{orgCode,jdbcType=VARCHAR},
		outpat_form_no = #{outpatFormNo,jdbcType=VARCHAR},
		cn_medicine_type_code = #{cnMedicineTypeCode,jdbcType=VARCHAR},
		drug_name = #{drugName,jdbcType=VARCHAR},
		drug_form_code = #{drugFormCode,jdbcType=VARCHAR},
		drug_using_days = #{drugUsingDays,jdbcType=INTEGER},
		drug_using_freq = #{drugUsingFreq,jdbcType=VARCHAR},
		drug_dose_unit = #{drugDoseUnit,jdbcType=VARCHAR},
		drug_per_dose = #{drugPerDose,jdbcType=DECIMAL},
		drug_total_dose = #{drugTotalDose,jdbcType=DECIMAL},
		drug_route_code = #{drugRouteCode,jdbcType=VARCHAR},
		drug_stop_dtime = #{drugStopDtime,jdbcType=TIMESTAMP},
		drug_local_code = #{drugLocalCode,jdbcType=VARCHAR},
		drug_std_name = #{drugStdName,jdbcType=VARCHAR},
		drug_std_code = #{drugStdCode,jdbcType=VARCHAR},
		drug_total_unit = #{drugTotalUnit,jdbcType=VARCHAR},
		spec = #{spec,jdbcType=VARCHAR},
		group_no = #{groupNo,jdbcType=VARCHAR},
		drug_start_dtime = #{drugStartDtime,jdbcType=TIMESTAMP},
		dispensing_dtime = #{dispensingDtime,jdbcType=TIMESTAMP},
		drug_type_code = #{drugTypeCode,jdbcType=VARCHAR},
		ddd_value = #{dddValue,jdbcType=DECIMAL},
		antibacterial_flag = #{antibacterialFlag,jdbcType=VARCHAR},
		notes = #{notes,jdbcType=VARCHAR},
		last_update_dtime = #{lastUpdateDtime,jdbcType=TIMESTAMP}
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>

	<insert id="insertSelective" parameterType="com.realdoctor.back.outpatientDrug.pojo.OutpatientDrug" useGeneratedKeys="true" keyProperty="id">
		insert into outpatient_drug
		<trim prefix="(" suffix=")" suffixOverrides=",">
		  <if test="orgCode != null">
		    org_code,
		  </if>
		  <if test="outpatFormNo != null">
		    outpat_form_no,
		  </if>
		  <if test="cnMedicineTypeCode != null">
		    cn_medicine_type_code,
		  </if>
		  <if test="drugName != null">
		    drug_name,
		  </if>
		  <if test="drugFormCode != null">
		    drug_form_code,
		  </if>
		  <if test="drugUsingDays != null">
		    drug_using_days,
		  </if>
		  <if test="drugUsingFreq != null">
		    drug_using_freq,
		  </if>
		  <if test="drugDoseUnit != null">
		    drug_dose_unit,
		  </if>
		  <if test="drugPerDose != null">
		    drug_per_dose,
		  </if>
		  <if test="drugTotalDose != null">
		    drug_total_dose,
		  </if>
		  <if test="drugRouteCode != null">
		    drug_route_code,
		  </if>
		  <if test="drugStopDtime != null">
		    drug_stop_dtime,
		  </if>
		  <if test="drugLocalCode != null">
		    drug_local_code,
		  </if>
		  <if test="drugStdName != null">
		    drug_std_name,
		  </if>
		  <if test="drugStdCode != null">
		    drug_std_code,
		  </if>
		  <if test="drugTotalUnit != null">
		    drug_total_unit,
		  </if>
		  <if test="spec != null">
		    spec,
		  </if>
		  <if test="groupNo != null">
		    group_no,
		  </if>
		  <if test="drugStartDtime != null">
		    drug_start_dtime,
		  </if>
		  <if test="dispensingDtime != null">
		    dispensing_dtime,
		  </if>
		  <if test="drugTypeCode != null">
		    drug_type_code,
		  </if>
		  <if test="dddValue != null">
		    ddd_value,
		  </if>
		  <if test="antibacterialFlag != null">
		    antibacterial_flag,
		  </if>
		  <if test="notes != null">
		    notes,
		  </if>
		  <if test="lastUpdateDtime != null">
		    last_update_dtime,
		  </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		  <if test="orgCode != null">org_code=#{orgCode,jdbcType=VARCHAR},</if>
		  <if test="outpatFormNo != null">outpat_form_no=#{outpatFormNo,jdbcType=VARCHAR},</if>
		  <if test="cnMedicineTypeCode != null">cn_medicine_type_code=#{cnMedicineTypeCode,jdbcType=VARCHAR},</if>
		  <if test="drugName != null">drug_name=#{drugName,jdbcType=VARCHAR},</if>
		  <if test="drugFormCode != null">drug_form_code=#{drugFormCode,jdbcType=VARCHAR},</if>
		  <if test="drugUsingDays != null">drug_using_days=#{drugUsingDays,jdbcType=INTEGER},</if>
		  <if test="drugUsingFreq != null">drug_using_freq=#{drugUsingFreq,jdbcType=VARCHAR},</if>
		  <if test="drugDoseUnit != null">drug_dose_unit=#{drugDoseUnit,jdbcType=VARCHAR},</if>
		  <if test="drugPerDose != null">drug_per_dose=#{drugPerDose,jdbcType=DECIMAL},</if>
		  <if test="drugTotalDose != null">drug_total_dose=#{drugTotalDose,jdbcType=DECIMAL},</if>
		  <if test="drugRouteCode != null">drug_route_code=#{drugRouteCode,jdbcType=VARCHAR},</if>
		  <if test="drugStopDtime != null">drug_stop_dtime=#{drugStopDtime,jdbcType=TIMESTAMP},</if>
		  <if test="drugLocalCode != null">drug_local_code=#{drugLocalCode,jdbcType=VARCHAR},</if>
		  <if test="drugStdName != null">drug_std_name=#{drugStdName,jdbcType=VARCHAR},</if>
		  <if test="drugStdCode != null">drug_std_code=#{drugStdCode,jdbcType=VARCHAR},</if>
		  <if test="drugTotalUnit != null">drug_total_unit=#{drugTotalUnit,jdbcType=VARCHAR},</if>
		  <if test="spec != null">spec=#{spec,jdbcType=VARCHAR},</if>
		  <if test="groupNo != null">group_no=#{groupNo,jdbcType=VARCHAR},</if>
		  <if test="drugStartDtime != null">drug_start_dtime=#{drugStartDtime,jdbcType=TIMESTAMP},</if>
		  <if test="dispensingDtime != null">dispensing_dtime=#{dispensingDtime,jdbcType=TIMESTAMP},</if>
		  <if test="drugTypeCode != null">drug_type_code=#{drugTypeCode,jdbcType=VARCHAR},</if>
		  <if test="dddValue != null">ddd_value=#{dddValue,jdbcType=DECIMAL},</if>
		  <if test="antibacterialFlag != null">antibacterial_flag=#{antibacterialFlag,jdbcType=VARCHAR},</if>
		  <if test="notes != null">notes=#{notes,jdbcType=VARCHAR},</if>
		  <if test="lastUpdateDtime != null">last_update_dtime=#{lastUpdateDtime,jdbcType=TIMESTAMP},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="com.realdoctor.back.outpatientDrug.pojo.OutpatientDrug">
		update outpatient_drug 
		<set>
		  <if test="orgCode != null">org_code=#{orgCode,jdbcType=VARCHAR},</if>
		  <if test="outpatFormNo != null">outpat_form_no=#{outpatFormNo,jdbcType=VARCHAR},</if>
		  <if test="cnMedicineTypeCode != null">cn_medicine_type_code=#{cnMedicineTypeCode,jdbcType=VARCHAR},</if>
		  <if test="drugName != null">drug_name=#{drugName,jdbcType=VARCHAR},</if>
		  <if test="drugFormCode != null">drug_form_code=#{drugFormCode,jdbcType=VARCHAR},</if>
		  <if test="drugUsingDays != null">drug_using_days=#{drugUsingDays,jdbcType=INTEGER},</if>
		  <if test="drugUsingFreq != null">drug_using_freq=#{drugUsingFreq,jdbcType=VARCHAR},</if>
		  <if test="drugDoseUnit != null">drug_dose_unit=#{drugDoseUnit,jdbcType=VARCHAR},</if>
		  <if test="drugPerDose != null">drug_per_dose=#{drugPerDose,jdbcType=DECIMAL},</if>
		  <if test="drugTotalDose != null">drug_total_dose=#{drugTotalDose,jdbcType=DECIMAL},</if>
		  <if test="drugRouteCode != null">drug_route_code=#{drugRouteCode,jdbcType=VARCHAR},</if>
		  <if test="drugStopDtime != null">drug_stop_dtime=#{drugStopDtime,jdbcType=TIMESTAMP},</if>
		  <if test="drugLocalCode != null">drug_local_code=#{drugLocalCode,jdbcType=VARCHAR},</if>
		  <if test="drugStdName != null">drug_std_name=#{drugStdName,jdbcType=VARCHAR},</if>
		  <if test="drugStdCode != null">drug_std_code=#{drugStdCode,jdbcType=VARCHAR},</if>
		  <if test="drugTotalUnit != null">drug_total_unit=#{drugTotalUnit,jdbcType=VARCHAR},</if>
		  <if test="spec != null">spec=#{spec,jdbcType=VARCHAR},</if>
		  <if test="groupNo != null">group_no=#{groupNo,jdbcType=VARCHAR},</if>
		  <if test="drugStartDtime != null">drug_start_dtime=#{drugStartDtime,jdbcType=TIMESTAMP},</if>
		  <if test="dispensingDtime != null">dispensing_dtime=#{dispensingDtime,jdbcType=TIMESTAMP},</if>
		  <if test="drugTypeCode != null">drug_type_code=#{drugTypeCode,jdbcType=VARCHAR},</if>
		  <if test="dddValue != null">ddd_value=#{dddValue,jdbcType=DECIMAL},</if>
		  <if test="antibacterialFlag != null">antibacterial_flag=#{antibacterialFlag,jdbcType=VARCHAR},</if>
		  <if test="notes != null">notes=#{notes,jdbcType=VARCHAR},</if>
		  <if test="lastUpdateDtime != null">last_update_dtime=#{lastUpdateDtime,jdbcType=TIMESTAMP},</if>
		</set>
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>
</mapper>
