<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanglian.healthcare.back.dal.dao.AlipayOrderLogDao">
	<resultMap type="com.kanglian.healthcare.back.dal.pojo.AlipayOrderLog" id="BaseResultMap">
		<result property="id" column="id" jdbcType="BIGINT"/>
		<result property="userId" column="user_id" jdbcType="VARCHAR"/>
		<result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
		<result property="requestParams" column="request_params" jdbcType="LONGVARCHAR"/>
		<result property="orderString" column="order_string" jdbcType="LONGVARCHAR"/>
		<result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="columns"> 
		t.id,
		t.user_id,
		t.order_no,
		t.request_params,
		t.order_string,
		t.add_time
	</sql>

	<select id="query" resultMap="BaseResultMap" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery">
		select
		t.id,
		t.user_id,
		t.order_no,
		t.request_params,
		t.order_string,
		t.add_time
		from alipay_order_log t 
		<include refid="conditionQuery.core" />
		order by
		<choose>
		<when test="paramMap.orderCol!=null">
		${paramMap.orderCol}
		</when>
		<otherwise>
		id desc
		</otherwise>
		</choose>
		<if test="paramMap.pageSize > 0">
		  limit #{paramMap.pageOffset},#{paramMap.pageSize}
		</if>
	</select>

	<select id="queryCnt" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery" resultType="java.lang.Integer">
		select count(*) from alipay_order_log t
		<include refid="conditionQuery.core" />
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="columns"/>
		from alipay_order_log t 
		where t.id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="delete" parameterType="com.kanglian.healthcare.back.dal.pojo.AlipayOrderLog">
		delete from alipay_order_log where 1=1 
		and id=#{id,jdbcType=BIGINT}
	</delete>

	<insert id="save" parameterType="com.kanglian.healthcare.back.dal.pojo.AlipayOrderLog" useGeneratedKeys="true" keyProperty="id">
		insert into alipay_order_log (
		user_id,
		order_no,
		request_params,
		order_string,
		add_time
		)
		values(
		#{userId,jdbcType=VARCHAR},
		#{orderNo,jdbcType=VARCHAR},
		#{requestParams,jdbcType=LONGVARCHAR},
		#{orderString,jdbcType=LONGVARCHAR},
		#{addTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.kanglian.healthcare.back.dal.pojo.AlipayOrderLog">
		update alipay_order_log set
		user_id = #{userId,jdbcType=VARCHAR},
		order_no = #{orderNo,jdbcType=VARCHAR},
		request_params = #{requestParams,jdbcType=LONGVARCHAR},
		order_string = #{orderString,jdbcType=LONGVARCHAR},
		add_time = #{addTime,jdbcType=TIMESTAMP}
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>

	<insert id="insertSelective" parameterType="com.kanglian.healthcare.back.dal.pojo.AlipayOrderLog" useGeneratedKeys="true" keyProperty="id">
		insert into alipay_order_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
		  <if test="userId != null">
		    user_id,
		  </if>
		  <if test="orderNo != null">
		    order_no,
		  </if>
		  <if test="requestParams != null">
		    request_params,
		  </if>
		  <if test="orderString != null">
		    order_string,
		  </if>
		  <if test="addTime != null">
		    add_time,
		  </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		  <if test="userId != null">user_id=#{userId,jdbcType=VARCHAR},</if>
		  <if test="orderNo != null">order_no=#{orderNo,jdbcType=VARCHAR},</if>
		  <if test="requestParams != null">request_params=#{requestParams,jdbcType=LONGVARCHAR},</if>
		  <if test="orderString != null">order_string=#{orderString,jdbcType=LONGVARCHAR},</if>
		  <if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="com.kanglian.healthcare.back.dal.pojo.AlipayOrderLog">
		update alipay_order_log 
		<set>
		  <if test="userId != null">user_id=#{userId,jdbcType=VARCHAR},</if>
		  <if test="orderNo != null">order_no=#{orderNo,jdbcType=VARCHAR},</if>
		  <if test="requestParams != null">request_params=#{requestParams,jdbcType=LONGVARCHAR},</if>
		  <if test="orderString != null">order_string=#{orderString,jdbcType=LONGVARCHAR},</if>
		  <if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if>
		</set>
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>
</mapper>
