<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanglian.healthcare.back.dal.dao.GoodsDao">
	<resultMap type="com.kanglian.healthcare.back.dal.pojo.Goods" id="BaseResultMap">
		<result property="id" column="id" jdbcType="BIGINT"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="store" column="store" jdbcType="INTEGER"/>
		<result property="freezeStore" column="freeze_store" jdbcType="INTEGER"/>
		<result property="shelvesTime" column="shelves_time" jdbcType="TIMESTAMP"/>
		<result property="categoryId" column="category_id" jdbcType="INTEGER"/>
		<result property="attribute" column="attribute" jdbcType="VARCHAR"/>
		<result property="description" column="description" jdbcType="VARCHAR"/>
		<result property="detail" column="detail" jdbcType="LONGVARCHAR"/>
		<result property="cost" column="cost" jdbcType="DECIMAL"/>
		<result property="marketPrice" column="market_price" jdbcType="DECIMAL"/>
		<result property="status" column="status" jdbcType="CHAR"/>
		<result property="addUser" column="add_user" jdbcType="VARCHAR"/>
		<result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="remark" column="remark" jdbcType="VARCHAR"/>
		<result property="bigPic" column="big_pic" jdbcType="VARCHAR"/>
		<result property="smallPic" column="small_pic" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="columns"> 
		t.id,
		t.name,
		t.store,
		t.freeze_store,
		t.shelves_time,
		t.category_id,
		t.attribute,
		t.description,
		t.detail,
		t.cost,
		t.market_price,
		t.status,
		t.add_user,
		t.add_time,
		t.update_time,
		t.remark
	</sql>

	<select id="query" resultMap="BaseResultMap" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery">
		select
			t.id,
			t.name,
			t.store,
			t.freeze_store,
			t.shelves_time,
			t.category_id,
			t.attribute,
			t.description,
			t.detail,
			t.cost,
			t.market_price,
			t.status,
			t.add_user,
			t.add_time,
			t.update_time,
			t.remark,
			gc.small_pic,
			gc.big_pic
		from goods t left join goods_pic gc on t.id=gc.goods_id
		<include refid="conditionQuery.core" />
		order by
		<choose>
		<when test="paramMap.orderCol!=null">
		${paramMap.orderCol}
		</when>
		<otherwise>
		id desc
		</otherwise>
		</choose>
		<if test="paramMap.pageSize > 0">
		  limit #{paramMap.pageOffset},#{paramMap.pageSize}
		</if>
	</select>

	<select id="queryCnt" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery" resultType="java.lang.Integer">
		select count(*) from goods t
		<include refid="conditionQuery.core" />
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="columns"/>
		from goods t 
		where t.id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="delete" parameterType="com.kanglian.healthcare.back.dal.pojo.Goods">
		delete from goods where 1=1 
		and id=#{id,jdbcType=BIGINT}
	</delete>

	<insert id="save" parameterType="com.kanglian.healthcare.back.dal.pojo.Goods" useGeneratedKeys="true" keyProperty="id">
		insert into goods (
		name,
		store,
		freeze_store,
		shelves_time,
		category_id,
		attribute,
		description,
		detail,
		cost,
		market_price,
		status,
		add_user,
		add_time,
		update_time,
		remark
		)
		values(
		#{name,jdbcType=VARCHAR},
		#{store,jdbcType=INTEGER},
		#{freezeStore,jdbcType=INTEGER},
		#{shelvesTime,jdbcType=TIMESTAMP},
		#{categoryId,jdbcType=INTEGER},
		#{attribute,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{detail,jdbcType=LONGVARCHAR},
		#{cost,jdbcType=DECIMAL},
		#{marketPrice,jdbcType=DECIMAL},
		#{status,jdbcType=CHAR},
		#{addUser,jdbcType=VARCHAR},
		#{addTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.kanglian.healthcare.back.dal.pojo.Goods">
		update goods set
		name = #{name,jdbcType=VARCHAR},
		store = #{store,jdbcType=INTEGER},
		freeze_store = #{freezeStore,jdbcType=INTEGER},
		shelves_time = #{shelvesTime,jdbcType=TIMESTAMP},
		category_id = #{categoryId,jdbcType=INTEGER},
		attribute = #{attribute,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		detail = #{detail,jdbcType=LONGVARCHAR},
		cost = #{cost,jdbcType=DECIMAL},
		market_price = #{marketPrice,jdbcType=DECIMAL},
		status = #{status,jdbcType=CHAR},
		add_user = #{addUser,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>

	<insert id="insertSelective" parameterType="com.kanglian.healthcare.back.dal.pojo.Goods" useGeneratedKeys="true" keyProperty="id">
		insert into goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
		  <if test="name != null">
		    name,
		  </if>
		  <if test="store != null">
		    store,
		  </if>
		  <if test="freezeStore != null">
		    freeze_store,
		  </if>
		  <if test="shelvesTime != null">
		    shelves_time,
		  </if>
		  <if test="categoryId != null">
		    category_id,
		  </if>
		  <if test="attribute != null">
		    attribute,
		  </if>
		  <if test="description != null">
		    description,
		  </if>
		  <if test="detail != null">
		    detail,
		  </if>
		  <if test="cost != null">
		    cost,
		  </if>
		  <if test="marketPrice != null">
		    market_price,
		  </if>
		  <if test="status != null">
		    status,
		  </if>
		  <if test="addUser != null">
		    add_user,
		  </if>
		  <if test="addTime != null">
		    add_time,
		  </if>
		  <if test="updateTime != null">
		    update_time,
		  </if>
		  <if test="remark != null">
		    remark,
		  </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		  <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
		  <if test="store != null">store=#{store,jdbcType=INTEGER},</if>
		  <if test="freezeStore != null">freeze_store=#{freezeStore,jdbcType=INTEGER},</if>
		  <if test="shelvesTime != null">shelves_time=#{shelvesTime,jdbcType=TIMESTAMP},</if>
		  <if test="categoryId != null">category_id=#{categoryId,jdbcType=INTEGER},</if>
		  <if test="attribute != null">attribute=#{attribute,jdbcType=VARCHAR},</if>
		  <if test="description != null">description=#{description,jdbcType=VARCHAR},</if>
		  <if test="detail != null">detail=#{detail,jdbcType=LONGVARCHAR},</if>
		  <if test="cost != null">cost=#{cost,jdbcType=DECIMAL},</if>
		  <if test="marketPrice != null">market_price=#{marketPrice,jdbcType=DECIMAL},</if>
		  <if test="status != null">status=#{status,jdbcType=CHAR},</if>
		  <if test="addUser != null">add_user=#{addUser,jdbcType=VARCHAR},</if>
		  <if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if>
		  <if test="updateTime != null">update_time=#{updateTime,jdbcType=TIMESTAMP},</if>
		  <if test="remark != null">remark=#{remark,jdbcType=VARCHAR},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="com.kanglian.healthcare.back.dal.pojo.Goods">
		update goods 
		<set>
		  <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
		  <if test="store != null">store=#{store,jdbcType=INTEGER},</if>
		  <if test="freezeStore != null">freeze_store=#{freezeStore,jdbcType=INTEGER},</if>
		  <if test="shelvesTime != null">shelves_time=#{shelvesTime,jdbcType=TIMESTAMP},</if>
		  <if test="categoryId != null">category_id=#{categoryId,jdbcType=INTEGER},</if>
		  <if test="attribute != null">attribute=#{attribute,jdbcType=VARCHAR},</if>
		  <if test="description != null">description=#{description,jdbcType=VARCHAR},</if>
		  <if test="detail != null">detail=#{detail,jdbcType=LONGVARCHAR},</if>
		  <if test="cost != null">cost=#{cost,jdbcType=DECIMAL},</if>
		  <if test="marketPrice != null">market_price=#{marketPrice,jdbcType=DECIMAL},</if>
		  <if test="status != null">status=#{status,jdbcType=CHAR},</if>
		  <if test="addUser != null">add_user=#{addUser,jdbcType=VARCHAR},</if>
		  <if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if>
		  <if test="updateTime != null">update_time=#{updateTime,jdbcType=TIMESTAMP},</if>
		  <if test="remark != null">remark=#{remark,jdbcType=VARCHAR},</if>
		</set>
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>
</mapper>
