<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanglian.healthcare.back.dal.dao.GoodsOrderItemDao">
	<resultMap type="com.kanglian.healthcare.back.dal.pojo.GoodsOrderItem" id="BaseResultMap">
		<result property="id" column="id" jdbcType="BIGINT"/>
		<result property="goodsOrderId" column="goods_order_id" jdbcType="INTEGER"/>
		<result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
		<result property="goodsNum" column="goods_num" jdbcType="INTEGER"/>
		<result property="goodsPrice" column="goods_price" jdbcType="DOUBLE"/>
		<result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="columns"> 
		t.id,
		t.goods_order_id,
		t.goods_id,
		t.goods_num,
		t.goods_price,
		t.add_time
	</sql>

	<select id="query" resultMap="BaseResultMap" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery">
		select
		t.id,
		t.goods_order_id,
		t.goods_id,
		t.goods_num,
		t.goods_price,
		t.add_time
		from goods_order_item t 
		<include refid="conditionQuery.core" />
		order by
		<choose>
		<when test="paramMap.orderCol!=null">
		${paramMap.orderCol}
		</when>
		<otherwise>
		id desc
		</otherwise>
		</choose>
		<if test="paramMap.pageSize > 0">
		  limit #{paramMap.pageOffset},#{paramMap.pageSize}
		</if>
	</select>

	<select id="queryCnt" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery" resultType="java.lang.Integer">
		select count(*) from goods_order_item t
		<include refid="conditionQuery.core" />
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="columns"/>
		from goods_order_item t 
		where t.id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="delete" parameterType="com.kanglian.healthcare.back.dal.pojo.GoodsOrderItem">
		delete from goods_order_item where 1=1 
		and id=#{id,jdbcType=BIGINT}
	</delete>

	<insert id="save" parameterType="com.kanglian.healthcare.back.dal.pojo.GoodsOrderItem" useGeneratedKeys="true" keyProperty="id">
		insert into goods_order_item (
		goods_order_id,
		goods_id,
		goods_num,
		goods_price,
		add_time
		)
		values(
		#{goodsOrderId,jdbcType=INTEGER},
		#{goodsId,jdbcType=INTEGER},
		#{goodsNum,jdbcType=INTEGER},
		#{goodsPrice,jdbcType=DOUBLE},
		#{addTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.kanglian.healthcare.back.dal.pojo.GoodsOrderItem">
		update goods_order_item 
		<set>
		  <if test="goodsOrderId != null">goods_order_id=#{goodsOrderId,jdbcType=INTEGER},</if>
		  <if test="goodsId != null">goods_id=#{goodsId,jdbcType=INTEGER},</if>
		  <if test="goodsNum != null">goods_num=#{goodsNum,jdbcType=INTEGER},</if>
		  <if test="goodsPrice != null">goods_price=#{goodsPrice,jdbcType=DOUBLE},</if>
		  <if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if>
		</set>
		where 1=1 and id = #{id,jdbcType=BIGINT}
	</update>
</mapper>
