<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanglian.healthcare.back.dal.dao.HospitalDeptDao">
	<resultMap type="com.kanglian.healthcare.back.dal.pojo.HospitalDept" id="BaseResultMap">
		<result property="deptId" column="dept_id" jdbcType="INTEGER"/>
		<result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
		<result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
		<result property="hospitalId" column="hospital_id" jdbcType="INTEGER"/>
		<result property="hospitalName" column="hospital_name" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="columns">
		t.dept_id,
		t.dept_name,
		t.dept_code,
		t.hospital_id,
		t.hospital_name
	</sql>

	<select id="query" resultMap="BaseResultMap" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery">
		select
		t.dept_id,
		t.dept_name,
		t.dept_code,
		t.hospital_id,
		t.hospital_name
		from hospital_dept t
		<include refid="conditionQuery.core" />
		order by
		<choose>
		<when test="paramMap.orderCol!=null">
		${paramMap.orderCol}
		</when>
		<otherwise>
		dept_id desc
		</otherwise>
		</choose>
		<if test="paramMap.pageSize > 0">
		  limit #{paramMap.pageOffset},#{paramMap.pageSize}
		</if>
	</select>

	<select id="queryCnt" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery" resultType="java.lang.Integer">
		select count(*) from hospital_dept t
		<include refid="conditionQuery.core" />
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="columns"/>
		from hospital_dept t
		where t.dept_id = #{deptId,jdbcType=INTEGER}
	</select>

	<delete id="delete" parameterType="java.lang.Long">
		delete from hospital_dept where dept_id = #{deptId,jdbcType=INTEGER}
	</delete>

	<insert id="save" parameterType="com.kanglian.healthcare.back.dal.pojo.HospitalDept" useGeneratedKeys="true" keyProperty="deptId">
		insert into hospital_dept (
		dept_name,
		dept_code,
		hospital_id,
		hospital_name
		)
		values(
		#{deptName,jdbcType=VARCHAR},
		#{deptCode,jdbcType=VARCHAR},
		#{hospitalId,jdbcType=INTEGER},
		#{hospitalName,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.kanglian.healthcare.back.dal.pojo.HospitalDept">
		update hospital_dept
		<set>
		  <if test="deptName != null">dept_name=#{deptName,jdbcType=VARCHAR},</if>
		  <if test="deptCode != null">dept_code=#{deptCode,jdbcType=VARCHAR},</if>
		  <if test="hospitalId != null">hospital_id=#{hospitalId,jdbcType=INTEGER},</if>
		  <if test="hospitalName != null">hospital_name=#{hospitalName,jdbcType=VARCHAR},</if>
		</set>
		where dept_id = #{deptId,jdbcType=INTEGER}
	</update>
</mapper>
