<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanglian.healthcare.back.dal.dao.PaymentIncomeLogDao">
	<resultMap type="com.kanglian.healthcare.back.dal.pojo.PaymentIncomeLog" id="BaseResultMap">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
		<result property="userId" column="user_id" jdbcType="INTEGER"/>
		<result property="toUser" column="to_user" jdbcType="INTEGER"/>
		<result property="type" column="type" jdbcType="VARCHAR"/>
		<result property="money" column="money" jdbcType="DOUBLE"/>
		<result property="mark" column="mark" jdbcType="CHAR"/>
		<result property="message" column="message" jdbcType="VARCHAR"/>
		<result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
		<result property="lastUpdateDtime" column="last_update_dtime" jdbcType="TIMESTAMP"/>
		<result property="userName" column="userName" jdbcType="VARCHAR"/>
		<result property="toUserName" column="toUserName" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="columns">
		t.id,
		t.order_no,
		t.user_id,
		t.to_user,
		t.type,
		t.money,
		t.mark,
		t.message,
		t.add_time,
		t.last_update_dtime
	</sql>

	<select id="query" resultMap="BaseResultMap" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery">
		select
			t.id,
			t.order_no,
			t.user_id,
			t.to_user,
			t.type,
			t.money,
			t.mark,
			t.message,
			t.add_time,
			t.last_update_dtime,
			t1.real_name AS userName,
			t2.real_name AS toUserName
		from payment_income_log t
		LEFT JOIN `user` t1 ON t1.user_id = t.user_id
		LEFT JOIN `user` t2 ON t2.user_id = t.to_user
		<include refid="conditionQuery.core" />
		order by
		<choose>
		<when test="paramMap.orderCol!=null">
		${paramMap.orderCol}
		</when>
		<otherwise>
		id desc
		</otherwise>
		</choose>
		<if test="paramMap.pageSize > 0">
		  limit #{paramMap.pageOffset},#{paramMap.pageSize}
		</if>
	</select>

	<select id="queryCnt" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery" resultType="java.lang.Integer">
		select count(*) from payment_income_log t
		<include refid="conditionQuery.core" />
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="columns"/>
		from payment_income_log t
		where t.id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from payment_income_log where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="save" parameterType="com.kanglian.healthcare.back.dal.pojo.PaymentIncomeLog" useGeneratedKeys="true" keyProperty="id">
		insert into payment_income_log (
		order_no,
		user_id,
		to_user,
		type,
		money,
		mark,
		message,
		add_time,
		last_update_dtime
		)
		values(
		#{orderNo,jdbcType=VARCHAR},
		#{userId,jdbcType=INTEGER},
		#{toUser,jdbcType=INTEGER},
		#{type,jdbcType=VARCHAR},
		#{money,jdbcType=DOUBLE},
		#{mark,jdbcType=CHAR},
		#{message,jdbcType=VARCHAR},
		#{addTime,jdbcType=TIMESTAMP},
		#{lastUpdateDtime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.kanglian.healthcare.back.dal.pojo.PaymentIncomeLog">
		update payment_income_log
		<set>
		  <if test="orderNo != null">order_no=#{orderNo,jdbcType=VARCHAR},</if>
		  <if test="userId != null">user_id=#{userId,jdbcType=INTEGER},</if>
		  <if test="toUser != null">to_user=#{toUser,jdbcType=INTEGER},</if>
		  <if test="type != null">type=#{type,jdbcType=VARCHAR},</if>
		  <if test="money != null">money=#{money,jdbcType=DOUBLE},</if>
		  <if test="mark != null">mark=#{mark,jdbcType=CHAR},</if>
		  <if test="message != null">message=#{message,jdbcType=VARCHAR},</if>
		  <if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if>
		  <if test="lastUpdateDtime != null">last_update_dtime=#{lastUpdateDtime,jdbcType=TIMESTAMP},</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
