<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanglian.healthcare.back.dal.dao.UploadPatientDao">
	<resultMap type="com.kanglian.healthcare.back.dal.pojo.UploadPatient" id="BaseResultMap">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="messageId" column="message_id" jdbcType="VARCHAR"/>
		<result property="questionId" column="question_id" jdbcType="VARCHAR"/>
		<result property="userId" column="user_id" jdbcType="INTEGER"/>
		<result property="content" column="content" jdbcType="VARCHAR"/>
		<result property="src" column="src" jdbcType="VARCHAR"/>
		<result property="remark" column="remark" jdbcType="VARCHAR"/>
		<result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
		<result property="question" column="question" jdbcType="VARCHAR"/>
		<result property="answer" column="answer" jdbcType="VARCHAR"/>
		<result property="patientRealName" column="patientRealName" jdbcType="VARCHAR"/>
		<result property="doctorRealName" column="doctorRealName" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="columns">
		t.id,
		t.message_id,
		t.question_id,
		t.user_id,
		t.content,
		t.src,
		t.remark,
		t.add_time
	</sql>

	<!-- 患者上传病历列表 -->
	<select id="query" resultMap="BaseResultMap" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery">
		SELECT
			*
		FROM
		(
			SELECT
				t.id,
				t.message_id,
				t.question_id,
				t.user_id,
				t1.to_user,
				t.content,
				t.src,
				t.remark,
				t.add_time,
				t1.question,
				t1.answer,
				u1.real_name AS patientRealName,
				u2.real_name AS doctorRealName
			FROM
				upload_patient t
			LEFT JOIN ask_question_answer t1 ON t1.id = t.question_id
			LEFT JOIN user u1 ON u1.user_id=t.user_id
			LEFT JOIN user u2 ON u2.user_id=t1.to_user
		) t
		<include refid="conditionQuery.core" />
		order by
		<choose>
		<when test="paramMap.orderCol!=null">
		${paramMap.orderCol}
		</when>
		<otherwise>
		id desc
		</otherwise>
		</choose>
		<if test="paramMap.pageSize > 0">
		  limit #{paramMap.pageOffset},#{paramMap.pageSize}
		</if>
	</select>

	<select id="queryCnt" parameterType="com.easyway.business.framework.mybatis.query.ConditionQuery" resultType="java.lang.Integer">
		select count(*) from upload_patient t
		LEFT JOIN ask_question_answer t1 ON t1.id = t.question_id
		<include refid="conditionQuery.core" />
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="columns"/>
		from upload_patient t
		where t.id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from upload_patient where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="save" parameterType="com.kanglian.healthcare.back.dal.pojo.UploadPatient" useGeneratedKeys="true" keyProperty="id">
		insert into upload_patient (
		message_id,
		question_id,
		user_id,
		content,
		src,
		remark,
		add_time
		)
		values(
		#{messageId,jdbcType=VARCHAR},
		#{questionId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{content,jdbcType=VARCHAR},
		#{src,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{addTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.kanglian.healthcare.back.dal.pojo.UploadPatient">
		update upload_patient
		<set>
		  <if test="messageId != null">message_id=#{messageId,jdbcType=VARCHAR},</if>
		  <if test="questionId != null">question_id=#{questionId,jdbcType=INTEGER},</if>
		  <if test="userId != null">user_id=#{questionId,jdbcType=INTEGER},</if>
		  <if test="content != null">content=#{content,jdbcType=VARCHAR},</if>
		  <if test="src != null">src=#{src,jdbcType=VARCHAR},</if>
		  <if test="remark != null">remark=#{remark,jdbcType=VARCHAR},</if>
		  <if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
